<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body background="https://www.walldevil.com/wallpapers/a50/super-hero-theater-backdrops-superheroes-marvel-comic-paper-house-wallpaper-wallpapers.jpg">
{{{body}}}
<script src="./js/app.js"></script>

</body>
</html>